<header class="mdl-layout__header mdl-layout--fixed-header mdl-layout__header--transparent vieck-header">
    <div class="mdl-layout__header-row vieck-navigation-row">
          <span class="mdl-layout__title">
                <a href="/" class="title">{{site.title}}</a>
            </span>
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            {% for item in site.data.menu %}
            <a class="mdl-navigation__link" href="{{ item.url | relative_url }}" aria-label="{{ item.title }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
    </div>
</header>