<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

{% include head.html %}

<body class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

{% include header.html %}
<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">

        {{ content }}

    </div>
</main>

</body>

</html>
