---
layout: default
---
<div class="home">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="../assets/michael_vieck.jpg"/>
        </div>
        <div class="col-1"></div>
        <div class="col">
            <div class="bio-block">
                <h1>Michael Vieck</h1>
                <h2 style="color: lightcoral">Consultant</h2>
                <h2 style="color: cornflowerblue">Designer</h2>
                <h2 style="color: mediumpurple">Instructor</h2>
            </div>
        </div>
    </div>
    <div class="row" style="height: 77.7%; background-color: rgba(0,0,0,0.7); justify-content: center">
        <h3 style="margin-top: auto; margin-bottom: auto">I am Michael Vieck, a Software Developer Consultant based out of the Midwest.</h3>
    </div>
</div>