---
layout: default
---
<div class="home">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="../assets/michael_vieck.jpg"/>
        </div>
        <div class="col-1"></div>
        <div class="col">
            <div class="bio-block">
                <h1>Michael Vieck</h1>
                <h2>Consultant</h2>
                <h2>Designer</h2>
                <h2>Instructor</h2>
            </div>
        </div>
    </div>
    <div class="row" style="height: 80%">
        <div class="col" style="background-color: rgba(0,0,0,0.7); height: 100%">
            Test
        </div>
    </div>
</div>