---
layout: default
---
<div class="projects">
    <div class="card">
        <div class="card-img-top">
            <img class="img-fluid" style="margin: 0 auto" src="https://lh3.googleusercontent.com/l0om5PhjIoHdOCtsp8-XnlcfHZ4necZoxlyEGaaEg5_maNojU_3nKxegN5t60weDDP4i=h900-rw" alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">Purdue Laundry App</h4>
            <p class="card-text">App for checking Purdue dorm laundry availabilities.</p>
            <a href="https://goo.gl/jVwKn7" class="btn btn-primary">Link</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../assets/Night%20Sky%205.svg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
